{% extends "base.html" %}

{% block content %}


    {% for item in meta.advice %}
        <div class="alert {{ item.kind|alert_class }}" role="alert">
            <b>{{ item.kind|add_tooltips }}!</b> {{ item.text|add_tooltips }}
        </div>
    {% endfor %}

    <button class="btn btn-info"
       role="button"
       data-toggle="collapse"
       href="#clf-more-info"
       aria-expanded="false"
       aria-controls="clf-more-info">
        More &hellip;
    </button>

    <div id="clf-more-info" class="collapse">

        <dl class="dl-horizontal">
            {% for item in meta.description %}
                <dt>{{ item.heading|add_tooltips }}</dt>
                <dd>{{ item.text|add_tooltips }}</dd>
            {% endfor %}
        </dl>

        {% if meta.weights %}

            <button class="btn btn-info"
               role="button"
               data-toggle="collapse"
               href="#clf-weights"
               aria-expanded="false"
               aria-controls="clf-weights">
                Feature weights
            </button>

            <div id="clf-weights" class="collapse weights">
                <table class="table">
                    {% for item in meta.weights.pos %}
                        <tr style="background-color: {{ item.hsl_color }}">
                            <td>{{ item.weight|round(3) }}</td>
                            <td>{{ item.feature }}</td>
                        </tr>
                    {% endfor %}
                    {%  if meta.weights.pos_remaining %}
                        <tr>
                            <td colspan="2">
                                &hellip; {{ meta.weights.pos_remaining }} more positive &hellip;
                            </td>
                        </tr>
                    {% endif %}
                    {%  if meta.weights.neg_remaining %}
                        <tr>
                            <td colspan="2">
                                &hellip; {{ meta.weights.neg_remaining }} more negative &hellip;
                            </td>
                        </tr>
                    {% endif %}
                    {% for item in meta.weights.neg|reverse %}
                        <tr style="background-color: {{ item.hsl_color }}">
                            <td>{{ item.weight|round(3) }}</td>
                            <td>{{ item.feature }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

    </div>

{% endblock %}
